.fill__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.login__cover{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70%;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: #95a5a6;
    background-image: url("./assets/20210423_223353.jpg");
}

.title__container {
    display: flex;
    align-items: center; 
    height: 20%;
    color: rgb(215, 23, 23); 
}

.form__container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.text1{
    position: absolute;
    top: -1vh;
}

.text2{
    position: absolute;
    top: 12vh;
}

.btn__container {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    align-items: center;
}

.btn{
    position: absolute;
    top: 3vh;
    left: 0;
    width: 15vh;
    height: 6vh;
}

a{
    text-decoration: none;
    color: blue;
}