.text__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}


.clear{
    position: absolute;
    left: 125vh !important;
    top: 134px !important;
    width: 15vh;
}

.save{
    position: absolute;
    left: 130vh !important;
    top: 134px !important;
    width: 14vh;
}