.first__Name {
    position: absolute;
    top: 1vh;
    width: 50vh;
    left: 3vh;
}

.last__Name {
    position: absolute;
    top: 1vh;
    width: 50vh;
    left: 12vh;
}

.email {
    position: absolute;
    top: 1vh;
    width: 50vh;
    left: 22vh;
}

.user__Name {
    position: absolute;
    top: 9vh;
    left: -147vh;
    width: 50vh;
}

.password {
    position: absolute;
    top: 3vh;
    width: 50vh;
    left: 62vh;
}

.city {
    position: absolute;
    top: 3vh;
    width: 50vh;
    left: 72vh;
}

.street {
    position: absolute;
    top: 11vh;
    width: 50vh;
    left: -97vh;
}

.street__no {
    position: absolute;
    top: 11vh;
    width: 50vh;
    left: -88vh;
}

.zip__code{
    position: absolute;
    top: 5vh;
    width: 50vh;
    left: 122vh;
}

.lat__value{
    position: absolute;
    top: 12vh;
    width: 50vh;
    left: -47vh;
}

.long__value{
    position: absolute;
    top: 12vh;
    width: 50vh;
    left: -38vh;
}

.mobile__no{
    position: absolute;
    top: 12vh;
    width: 50vh;
    left: -28vh;
}

.clear{
    position: absolute;
    left: 43vh;
    top: 143px;
    width: 15vh;
}

.save{
    position: absolute;
    left: 63vh;
    top: 14vh;
    width: 14vh;
}